.page-header{
    position: relative;
}

.form-control{
    border-radius: 0;
}

.month-nav {
    position: absolute;
    font-size: 17px;
    font-weight: normal;
    color: #666;
    left: 50%;
    margin-left: -67px;
    top: 8px;
    width: 135px;
}

.month-nav-prev, .month-nav-next{
    cursor: pointer;
    font-size: 15px;
    color: #337ab7;
}

.month-nav-prev{
    padding-right: 10px;
    position: absolute;
    left: 0;
}

.month-nav-next{
    padding-left: 10px;
    position: absolute;
    right: 0;
}

.month-nav-new{
    position: relative;
    min-height: 1px;
    padding-right: 0;
    padding-left: 15px;
    float: left;
}

.pr0{
    padding-right: 0;
}

.month-nav-new .month-list-btn{
    width: 95px;
}

.publish-btn{
    margin-left: 10px;
}

.already-optimized{
    clear: both;
    font-size: 11px;
    text-align: center;
    color: green;
    margin-top: 5px;
    float: left;
    width: 100%;
    position: absolute;
    bottom: 10px;
    left: 0;
}

.no-rules-card {
    clear: both;
    font-size: 11px;
    text-align: center;
    color: #CA1B1B;
    margin-top: 5px;
    float: left;
    width: 100%;
    position: absolute;
    bottom: 10px;
    left: 0;
}

.optimizer-calendar {
    width: 1140px;
    margin: 0 auto 20px;
}

.optimizer-calendar .card {
    width: 158px;
    margin: 2px;
    padding: 8px;
    float: left;
}

.card.weekname {
    height: 40px;
    text-align: center;
    font-size: 16px;
}

.optimizer-calendar .weeks .card.day {
    height: auto;
}

.optimizer-calendar .weeks .day {
    height: 250px;
    border: 2px solid #fff;
}

.card.day.empty {
    border: 0;
}

.upper {
    padding: 0 10px;
    width: 100%;
    height: 25px;
}

.upper .date {
    font-size: 24px;
    color: #666;
    float: left;
}

.card-legends{
    text-align: center;
    clear: both;
    margin: 15px 0;
    float: left;
    width: 100%;
}

.card-legends span{
    margin-right: 10px;
}

.card-legends .cur-price-legend i{
    color: #CACACA;
}

.card-legends .rec-price-legend i{
    color: #31C3D9;
}

.card-legends .over-price-legend i{
    color: #F9CA68;
}


.day .table {
    margin-top: 20px;
    font-size: 15px;
    color: #666;
    float: left;
    margin-bottom: 0;
}

.day .table td {
    padding: 4px 4px 25px 4px;
    height: 52px !important;
    border: 0 !important;
    vertical-align: middle !important;
}

.day .table .currentPrice {
    text-align: right;
    position: relative;
    width: 49%;
}

.day .table .roomCode {
    color: #888;
}

.recPrice {
    position: relative;
    width: 49%;
}

.current-price {
    background: #CACACA;
    width: 100%;
    display: inline-block;
    padding: 1px 4px;
    font-size: 12px;
    text-align: center;
}

.currentPrice .room-code {
    position: absolute;
    top: -6px;
    left: 5px;
    font-size: 10px;
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    text-align: left;
    text-transform: uppercase;
    color: #777;
}

.roomCode .room-code{
    font-size: 10px;
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    text-align: left;
    text-transform: uppercase;
    color: #777;
}

.recPrice div {
    margin: 2px;
    background-color: #31C3D9;
    color: #fff;
    padding: 1px 4px;
    font-size: 12px;
    text-align: center;
}

.opt-price{
    background-color: #31C3D9;
    width: 100%;
    display: inline-block;
    padding: 1px 4px;
    font-size: 12px;
    text-align: center;
    color: #fff;
}

.card{
    position: relative;
}

.card.rec {
    background-color: #fff;
    position: relative;
}

.card-occ-wrapper {
    margin-left: 10px;
    width: 50px;
    float: left;
    margin-top: 6px;
}

.check-card {
    position: absolute;
    right: 2px;
    top: 2px;
    z-index: 2;
    cursor: pointer;
    padding: 10px 10px 190px 130px;
}

.check-card input {
    cursor: pointer;
}

.card-occ{
    display: block;
    float: left;
    width: 100%;
}

.card-occ .card-he{
    color: #888;
    float: left;
    font-size: 9px;
}

.card-occ .card-per{
    float: right;
    font-size: 9px;
}

.card-occ-bar{
    width: 100%;
    background-color: #E6E6E6;
    float: left;
    height: 5px;
}

.card-occ-bar-line{
    background-color: #7AC943;
    float: left;
    height: 5px;
    max-width: 100%;
}

.card-occ-bar-line.occ-warning{
    background: orange;
}

.card-occ-bar-line.occ-danger{
    background: red;
}

.o-side-panel .occ-bar-wrapper{
    float: right;
    width: 100px;
    text-align: center;
    margin-top: -15px;
}

.o-side-panel .occ-bar-wrapper .occ-text{
    font-size: 10px;
    color: #777;
}

.o-side-panel .card-occ-bar{
    background-color: #E6E6E6;
    float: right;
    height: 5px;
    display: block;
}

.edit-card-overlay {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.card.rec:hover .ec-btn,
.card.rec:hover .edit-card-overlay{
    display: block;
}

.ec-bg{
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.4;
    filter: alpha(opacity="40");
}

.ec-btn{
    display: none;
    position: absolute;
    z-index: 3;
    background-color: #F9CA68;
    padding: 6px 12px;
    top: 50%;
    margin-top: -15px;
    left: 50%;
    margin-left: -32px;
    border: 0;
}

.recommended .currentPrice::after {
  content: 'ï¡';
  position: absolute;
  right: -1px;
  top: 11px;
  font-size: 10px;
  display: block;
  font-family: 'FontAwesome';
  color: #888;
}

.recommended .currentPrice {
  padding-right: 12px !important;
}

.edit-header {
    float: left;
    width: 100%;
}

.eh-date-wrapper, .eh-occ-wrapper {
    float: left;
}

.eh-sav-wrapper {
    float: right;
}

.eh-dt {
    font-size: 40px;
    line-height: 25px;
    margin-right: 4px;
    float: left;
}

.eh-dm{
    float: left;
}

.eh-dm .eh-day,
.eh-dm .eh-month{
    display: block;
    line-height: 13px;
    font-size: 13px;
}

.eh-dm .eh-month{
    color: #888;
}

.eh-occ-wrapper{
    margin-left: 20px;
    width: 120px;
}

.eh-occ{
    display: block;
    float: left;
    width: 100%;
}

.eh-occ .eh-he{
    color: #888;
    float: left;
}

.eh-occ .eh-per{
    float: right;
}

.eh-occ-bar{
    width: 100%;
    background-color: #E6E6E6;
    float: left;
    height: 10px;
}

.eh-occ-bar-line{
    background-color: #7AC943;
    float: left;
    height: 10px;
    max-width: 100%;
}

.eh-occ-bar-line.occ-danger {
    background: red;
}

.eh-occ-bar-line.occ-warning{
    background: orange;
}

.edit-body{
    float: left;
    width: 100%;
}

.edit-body .edit-popup--table{
    float: left;
    margin: 10px 0 0 0;
}

.eh-cur-price{
    background: #A3AEB7;
    color: #fff;
    padding: 5px 8px;
    width: 80px;
    display: inline-block;
}

.eh-rec-price{
    background: #31C3D9;
    color: #fff;
    padding: 5px 8px;
    width: 80px;
    display: inline-block;
}

.eh-over-price{
    background: #F9CA68;
    color: #fff;
    padding: 5px 8px;
    width: 80px;
    display: inline-block;
}

.eh-tot-price{
    border: 1px solid #999;
    padding: 2px 8px;
    width: 80px;
    background-color: transparent;
    text-align: center;
}

.edit-popup--table{
    width: auto;
}

.edit-popup--table thead th{
    font-size: 10px;
    color: #999;
    font-weight: normal;
    text-align: center;
    line-height: 1.4555;
    padding-bottom: 8px;
}

.edit-popup--table tbody td{
    text-align: center;
    padding-bottom: 15px;
}


/* Customizing ngDialog */

.ngdialog.ngdialog-theme-default .ngdialog-close.edit-save{
    position: relative;
}

.ngdialog.ngdialog-theme-default .ngdialog-close.edit-save:before{
    display: none;
}

.ngdialog.ngdialog-theme-default .ngdialog-content{
    width: 650px;
    font-family: montserrat;
    background: #fff;
    overflow: hidden;
}

.modal-body{
    overflow: hidden;
}

.pushed-prices, .optimizer-loading {
    width: 100%;
    height: 100%;
    background: #fff;
    opacity: .8;
    z-index: 3;
    filter: alpha(opacity=30);
    position: fixed;
    top: 0;
    left: 0;
    color: #888;
    text-align: center;
    padding-top: 250px;
}

.edit-body .fa-plus {
    font-size: 10px !important;
    margin-right: 1px;
}

.over-price {
    background-color: #F9CA68 !important;
}

.over-input {
    border-color: #F9CA68 !important;
    background-color: rgba(249, 202, 104, 0.2) !important;
}

.remove-over {
    position: absolute;
    padding-left: 5px;
    padding-top: 3px;
    color: #F9CA68;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.page-header .btn.select-all {
    float: left;
    margin-left: 20px;
    font-weight: normal;
    font-size: 13px;
    cursor: pointer;
}

.select-all input {
    position: relative;
    top: 2px;
}

.applied-rule {
    display: inline-block;
    margin: 0 10px 0 20px;
    padding: 0 7px;
    border-left: 4px solid #e6e6e6;
    line-height: 1.2;
}

.applied-rule p {
    margin-bottom: 0;
    font-size: 11px;
    color: #888;
}

.applied-rule span {
    color: #31c3d9;
    font-size: 13px;
}

.eh-promo {
    padding-right: 10px;
}

.eh-promo span {
    font-size: 20px;
    color: #5cb85c;
    vertical-align: middle;
    cursor: default;
}

.min-max {
    float: left;
    width: 100%;
    font-size: 13px;
    text-align: center;
    padding: 10px;
    margin-bottom: 0;
    margin-top: 10px;
}

.min-max span {
    font-weight: bold;
    padding: 1px 4px;
}

/* Custom CSS */

.month-nav-new .dropdown-toggle{
    margin-right: -1px;
}

.legends-and-occs{
    margin: 10px 0;
}

.cards-status--legends {
    list-style: none;
    margin: 0;
    padding: 0;
    float: right;
}

.cards-status--legends li {
    float: left;
    width: 30px;
    height: 30px;
    margin-right: 10px;
    border: 1px solid #a7bacc;
}

.o-date{
    color: #777;
    margin-bottom: 10px;
    font-size: 12px;
    position: relative;
}

.o-table tbody tr td .down-arrow {
    background: url(../images/arrow_default.png) no-repeat scroll 0 -50px transparent;
    background-size: 100% 81px;
    color: #fff;
    display: inline-block;
}

.o-table tbody tr td.selected-date .down-arrow {
    background: url(../images/arrow_white.png) no-repeat scroll 0 -50px transparent;
    background-size: 100% 81px;
}

.o-table tbody tr td.selected-date.holiday-date .o-date{
    color: #159a80;
}

.o-rate{
    color: #333333;
    position: absolute;
    bottom: 5px;
    left: 8px;
    font-size: 14px;
}

.rate-control{
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 5px;
    background: #fff;
    border-top: 3px solid #a7bacc;
}

.no-of-dates-selected{
    margin-top: 16px;
    text-align: center;
}

.mtb20{
    margin-top: 20px;
    margin-bottom: 20px;
}

.mt20b10{
    margin-top: 20px;
    margin-bottom: 10px;
}

.sp-price{
    color: #046CC5;
    font-size: 22px;
}

.sp-c-rate-wrapper {
    position: absolute;
    display: inline-block;
    left: 20px;
    line-height: 0;
    top: 32px;
}

.sp-c-rate-wrapper.slash-overriding{
    top: 40px;   
}

.sp-c-rate{
    font-size: 14px;
    color: #999;
}

.strike-it{
    border-top: 1px solid #aaa;
    position: absolute;
    left: 0;
    top: 1px;
    z-index: 1;
    height: 1px;
    width: 100%;
}

.change-price{
    cursor: pointer;
    color: #777;
    font-size: 10px;
    border-bottom: 1px dotted #ddd;
}

.change-price:hover{
    color: #0044ff;
}

.remove-override{
    cursor: pointer;
    color: orange;
    font-size: 10px;
    border-bottom: 1px dotted #ddd;
}

.remove-override:hover{
    color: red;
}

.uidp{
    background: url(../images/blcalsmright.png) no-repeat scroll right 8px transparent !important;
}

.o-table{
    border-top: 0;
    border-left: 0;
    border-right: 0;
    margin-bottom: 20px;
}

.o-table thead{
    background-color: #34495e;
    color: #ecf0f1;
}

.o-table tbody{
    background: #fff;
}

.o-table tbody tr td{
    position: relative;
    height: 80px;
    background: #eee;
}

.o-table tbody tr td.curr-month{
    background-color: #dcdcdc;
    background-image: repeating-linear-gradient(130deg, transparent, transparent 10px, rgba(255,255,255,.3) 10px, rgba(255,255,255,.3) 20px);
}



.o-table tbody tr td .o-date{
    color: #999;
}

.o-table tbody tr td.rec{
    background: #fff;
}

.o-table tbody tr td.rec .o-date{
    color: #333;
}


.o-table tbody tr td.rec.past-date .o-date{
    color: #777;
}

.o-table tbody tr td.selected-date .o-date,
.o-table tbody tr td.selected-date .o-rate{
    color: #fff;
}

.overriddenLegend, .queuedLegend, .optimizedLegend, .pastDateLegend, .noRuleLegend, .toBeOptimizedLegend{
    
}

.o-table tbody tr td.overridden-card, .overriddenLegend{
    background: #F1DEC4;
}

.o-table tbody tr td.optimized-date .o-rate{
    color: #0C7B3B;
}

.o-table tbody tr td.active-date{
    cursor: pointer;
}

.toBeOptimizedLegend {
    background: #fff;
}

.o-table tbody tr td.queued-card, .queuedLegend{
    background: #eee;
}

.o-table tbody tr td.optimized-card, .optimizedLegend{
    background: #C6F3C6;
}

.o-table tbody tr td.past-date, .pastDateLegend, .noRuleLegend {
    background-color: #dcdcdc;
    background-image: repeating-linear-gradient(130deg, transparent, transparent 10px, rgba(255,255,255,.3) 10px, rgba(255,255,255,.3) 20px);
}

.o-table tbody tr td.selected-date{
    background: #1abc9c;
    font-size: 13px;
}

.o-table tbody tr td.past-date .o-rate{
    color: #999;
}

.o-table tbody tr td .o-card-status{
    position: absolute;
    right: 8px;
    top: 5px;
}

.optimizer-legends span{
    margin-right: 5px;
}

.o-table tbody tr td .o-optimized, .optimized-legend i{color: #27ae60;}
.o-table tbody tr td .o-optimized-override{color: #e67e22;right: 20px;}
.o-table tbody tr td .o-queued, .queued-legend i{color: #aaa;}
.o-table tbody tr td .o-ready{color: #3498db;}
.o-table tbody tr td .o-overridden, .overridden-legend i{color: #e67e22;}
.overridden-date .o-rate{
    color: #d35400;
}

.o-table.table-bordered>thead>tr>th{
    border: 0;
    width: 14.285714286%;
}

.info-icon {
    border: 1px solid #666;
    border-radius: 50%;
    font-size: 12px;
    height: 24px;
    width: 24px;
    display: inline-block;
    cursor: pointer;
    -webkit-transition: 200ms box-shadow,200ms color,200ms background,200ms fill;
    transition: 200ms box-shadow,200ms color,200ms background,200ms fill;
}

.info-icon i {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    height: 100%;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
    color: #333;
}

.side-panel-label{
    font-weight: normal;
    margin-bottom: 0;
    color: #999;
}

.mt20{
    margin-top: 20px;
}

.no-of-cards-left{
    color: #fff;
    background: #ff0000;
    border-radius: 50%;
    min-width: 12px;
    display: inline-block;
    padding: 1px 3px 0px 3px;
    line-height: 1.2;
    font-size: 12px;
    text-shadow:0 0;
}

/* START OCCUPANCY INDICATOR BAR */

.o-occ-bar-bg{
    position: absolute;
    top: 0;
    left: 0;
    border-top: 4px solid #ddd;
}

/* END OCCUPANCY INDICATOR BAR */

.rule-applied-dd{
    width: 100%;
}

.rule-applied-dd.dropdown-menu>li>a{
    padding: 8px 20px;
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.rule-type-indicator, .card-type-indicator {
    color: #fff;
    display: inline-block;
    padding: 3px 6px;
}

.rule-type-indicator.occupancy, .rule-type-indicator.occ-rule{
    background: #31C3D9;
}

.rule-type-indicator.promo, .rule-type-indicator.pro-rule{
    background: #449D44;
}

.rule-type-indicator.competition, .rule-type-indicator.com-rule{
    background: #9b59b6;
}

.week-name{
    /*text-align: center;*/
}

.select-all-dates label{
    margin: 0;
    font-weight: normal;
    cursor: pointer;
}

.select-all-dates label input {
    margin: 3px 5px 0 0;
    float: left;
}

.o-table .card-occ-bar{
    width: 50%;
    background-color: #ECECEC;
    position: absolute;
    height: 4px;
    top: 14px;
    right: 10px;
    border-radius: 4px;
}

.o-table .card-occ-bar-line{
    height: 4px;
    border-radius: 4px;
}

/*.occ-set label input {
    left: 0; 
    opacity: 0; 
    position: absolute;
    top: 0;
}*/

.selected-dates{
    display: inline-block;
    color: #fff;
    margin: 2px;
    font-size: 10px;
    font-weight: normal;
    background: transparent;
    padding: 0;
    float: left;
}

.o-side-panel-date{
    padding: 5px 4px 4px 4px;
    background-color: #1abc9c;
    float: left;
}

.o-side-panel-holiday-name{
    background: darkorange;
    margin: 0;
    display: inline-block;
    max-width: 150px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    padding: 5px 4px 4px 4px;
    float: left;
}

.o-side-panel{
    position: relative;
}

.o-side-panel .saving-overlay{
    width: 100%;
    height: 100%;
    background: #fff;
    opacity: .8;
    z-index: 3;
    filter: alpha(opacity=30);
    position: absolute;
    top: 0;
    left: 0;
    color: #888;
    text-align: center;
    padding-top: 250px;
}

.rules-dropdown .btn{
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    text-align: left;
}

.rules-dropdown .btn .caret {
    position: absolute;
    right: 8px;
    top: 15px;
}

.sp-price input{
    padding: 4px 8px;
}

.optimizer-wrapper label {
    font-weight: normal;
    font-size: 16px;
}

.optimizer-wrapper .side-panel-label{
    font-size: 14px;
    color: #111;
}

.optimizer-wrapper .legends-and-occs .btn {
    font-size: 13px;
}

.month-list-btn{
    font-size: 14px;
    line-height: 1.3;
}

.minMaxMSG{
    color: red;
    margin-top: 5px;
    font-size: 10px;
}

.minMaxMSG.minMaxMSGWithSlashedPrice{
    margin-top: 18px;
}

.publish-note{
    font-size: 11px;
    width: 70%;
    float: right;
    margin-right: 15px;
}

.min-max-price-cap-indicator{
    color:#d35400;
    font-size:18px;
}

span .holidayname{
    background: orange;
}